@page
@model UnictiveTest.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<form method="post" asp-page-handler="Post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>